{% extends "base.html" %}


{% block header %}<h1>{% block title %}New Entree{% endblock %}</h1>{% endblock %}

{% block content %}
  <div class="entree-form">
    <form method="post">
      <div class="input-line">
        <label for="name">Name</label>
        <input name="name" id="name" value="{{ request.form['name'] }}" required>
      </div>
      <div id="wines-container">
        <div class="input-line">
          <label for="wines">Wine Pairing</label>
          <div>
            <input name="wines" id="wines" />
            <button onclick="addWine()">+</button><br />
          </div>
        </div>
      </div>
      <div id="allergens-container">
        <div class="input-line">
          <label for="allergens">Allergen</label>
          <div>
            <input name="allergens" id="allergens" />
            <button onclick="addAllergen()">+</button><br />
          </div>
        </div>
      </div>
      <input type="submit" value="Save" class="btn btn-primary">
    </form>
  </div>
{% endblock %}