{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Entrees{% endblock %}</h1>
  <a class="btn btn-primary" href="{{ url_for('entree.create') }}">New</a>
{% endblock %}

{% block content %}
  {% for entree in entrees %}
    <div class="entree">
      <header>
        <div>
          <h2>{{ entree['name'] }}</h1>
        </div>
          <a class="btn btn-secondary" href="{{ url_for('entree.update', id=entree['id']) }}">Edit</a>
      </header>
      <h4>Wine Pairings:</h4>
      <ul>
        {% for wine in entree['wines'] %}
          <li class="wines">{{ wine }}</li>
        {% endfor %}
      </ul>
      <h4>Allergens:</h4>
      <ul>
        {% for allergen in entree['allergens'] %}
          <li class="allergens">{{ allergen }}</li>
        {% endfor %}
      </ul>
    </div>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}