{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ entree['name'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name"
      value="{{ request.form['name'] or entree['name'] }}" required /><br />
    <h3>Wine Pairings</h3>
    <div id="wines-container">
      {% for wine in entree['wines'] %}
        <div>
          <label for="wines">Wine Pairing</label>
          <input name="wines" id="wines" value="{{ wine }}" />
          <button onclick="addWine()">+</button>
          <button onclick="removeItem()">-</button><br />
        </div>
      {% endfor %}
    </div>
    <h3>Allergens</h3>
    <div id="allergens-container">
      {% for allergen in entree['allergens'] %}
        <div>
          <label for="allergens">Allergen</label>
          <input name="allergens" id="allergens" value="{{ allergen }}" />
          <button onclick="addAllergen()">+</button>
          <button onclick="removeItem()">-</button><br />
        </div>
      {% endfor %}
    </div>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('entree.delete', id=entree['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}