<h1>Flask Restaurant</h1>
<p>Welcome to Flask Restaurant!</p>
<p>This app is divided into two sections...and admin panel and an API.</p>
<h4><a href="/admin">Admin Panel</a></h4>
<p>The admin panel is built with Flask and Jinja Templates.  The purpose of this section of the app is to provide a user-friendly interface to interact with the app's database.  Users can easily add or edit entrees using the admin panel.  These entrees are then available through the API to other applications</p>
<h4><a href="/api/entrees">API</a></h4>
<p>The API provides access to the database for other applications. Available endpoints are:</p>
<ul>
    <li>"GET /api/entrees" - returns all entrees in the database</li>
    <li>"GET /api/entrees/{id}" - returns the entree with matching id</li>
</ul>